/* Breakpoints */
/* Break Points */
.post {
  width: 100%;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.46);
  margin: 30px 0;
}

.post_wrapper {
  padding: 10px;
}

.post_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.post_avatar {
  margin-right: 1em;
}

.post_menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.post_menu_content_icon {
  margin: 0 0.5em;
}

.post_menu_content_icon svg {
  padding: 3px;
  height: 1.4em;
  width: 1.4em;
  color: #333333;
}

.post_menu_content_icon:hover .post_menu_icon {
  background: #FD2D01;
  color: white;
  border-radius: 50%;
}

.post_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_profile_image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post_profile_username {
  font-style: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.post_date {
  font-style: 12px;
}

.post_body {
  margin: 20px 0;
}

.post_body img {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.post_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post_likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_likes button {
  width: auto;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-right: 5px;
  padding: 8px;
}

.post_likes button.favorite {
  background-color: transparent;
}

.post_likes button .likeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #cd1010;
}

.post_likes button .likeCounter {
  font-size: 15px;
}

.post_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.post_comments span {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

.post_comments .comment {
  width: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_comments .comment:hover {
  color: #FD2D01;
}

.post_comments .commentIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 0.5em;
}

.post_menu_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=Post.module.css.map */