/* Breakpoints */
/* Break Points */
.header {
  display: block;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

@media screen and (min-width: 992px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content_infoLoggedUser {
  top: 80px;
  width: 100%;
  padding: 0.5em;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .content_infoLoggedUser {
    height: calc(100vh - 70px);
    width: 80%;
    overflow-y: scroll;
    position: -webkit-sticky;
    position: sticky;
    width: auto;
  }
}

.content_infoLoggedUser h2 {
  margin: 1em 0;
  text-align: left;
}

.content_feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
}

.content_main {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content_main .follow {
  display: block;
  background-color: #6fb9b5;
  font-size: 1em;
  color: white;
  margin: 0 auto;
}

.content_main .unfollow {
  display: block;
  background-color: #FD2D01;
  font-size: 1em;
  color: white;
  margin: 0 auto;
}

.title {
  margin: 1em 0;
  font-size: 24px;
  font-weight: 700;
}

.friendList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

.friendList_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 992px) {
  .friendList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.friendList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-radius: 1em;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  margin: 0.5em;
  padding: 0.5em;
}

@media screen and (min-width: 992px) {
  .friendList li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.friendList li .icon {
  border-radius: 50%;
  color: #6fb9b5;
  border: 1px solid #6fb9b5;
  padding: 3px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 0 1em;
}

.friendList li .icon:hover {
  color: white;
  background-color: #FD2D01;
  border: 1px solid #FD2D01;
}
/*# sourceMappingURL=Profile.module.css.map */