/* Breakpoints */
/* Break Points */
.authSignUp {
  width: 95%;
  max-width: 25rem;
  margin: 3rem auto;
  padding: 0;
  text-align: center;
  border-top: 13px solid #FD2D01;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.authSignUp h1 {
  padding: 1em;
  text-align: center;
  color: #333333;
  background-color: #FFD7D7;
}

.authSignUp form {
  padding: 2em;
}

.authSignUp .errMsg {
  background-color: #FD2D01;
  color: white;
  font-weight: 500;
  padding: 1em;
}

.authSignUp_control {
  margin-bottom: 0.5rem;
}

.authSignUp_control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333333;
}

.authSignUp_control span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 2px solid #FFD7D7;
}

.authSignUp_control span:focus-within {
  border: 2px solid #FD2D01;
}

.authSignUp_control span .passIcon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #333333;
}

.authSignUp_control input {
  width: 100%;
  padding: 0.25rem;
  font-size: inherit;
  text-align: left;
  outline: none;
  border: none;
  background-color: white;
  color: #333333;
  border: none;
}

.authSignUp_control > input {
  border: 2px solid #FFD7D7;
}

.authSignUp_control > input:focus,
.authSignUp_control > input:active {
  border: 2px solid #FD2D01;
}

.authSignUp_control .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  color: #FD2D01;
  padding: 14px;
  position: relative;
  bottom: -5px;
}

.authSignUp_control .offscreen {
  position: absolute;
  left: -9999px;
}

.authSignUp_check {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.authSignUp_check label {
  font-size: 14px;
  padding-left: 1em;
  width: 94%;
  display: inline-block;
  vertical-align: middle;
}

.authSignUp_check input {
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 21px;
}

.authSignUp_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.authSignUp_actions_link {
  width: auto;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  font-size: 1em;
  color: white;
  background-color: #FD2D01;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.authSignUp_actions_link:disabled, .authSignUp_actions_link:disabled:hover {
  background-color: #e1e2e1;
  color: white;
}

.authSignUp_actions_link:hover {
  background-color: #6fb9b5;
}

.authSignUp_actions_toggle {
  width: auto;
  margin-top: 1rem;
  padding: 0.15rem 1.5rem;
  font-size: 1em;
  color: #FD2D01;
  border: none;
  background-color: transparent;
}

.authSignUp_actions_toggle:hover {
  color: #6fb9b5;
  background-color: transparent;
}
/*# sourceMappingURL=SignUpForm.module.css.map */