@import "../../styles-utils/graphiqueColors.scss";
@import "../../styles-utils/mixins.scss";


.topbar {
    height: 70px;
    width: 100%;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;

    &_logo {
        height: 80%;
        padding:10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    &_menu {
        padding-right: 1em;
        @media screen and (min-width: 562px) {
        height: 100%;
        }
    }

    &_avatar {
        height: 48px;
        width: 48px;
        
        @media screen and (min-width: 562px) {
            display: none;
        }

        img {
            border-radius: 50%;
            border: 3px solid white;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &.show + .topbar_links {
            max-width: 100%;

            @media screen and (min-width: 562px) {
                max-width: 600px;
            }

        }
    }

    &_links {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: rgba(255,255,255,0.9);
        color: black;
        right: 0;
        top: 4.5em;
        width: 100%;
        height: 100vh;
        max-width: 0px;
        transition: max-width 300ms ease-in-out;
        padding: 0;
        z-index: 3;
        overflow: hidden;


        @media screen and (min-width: 562px) {
            flex-direction: row;
            position: static;
            background-color: transparent;
            color: white;
            max-width: 100%;
            height: 100%;
        }
    }

    &_item {
        list-style: none;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 500ms ease-in-out;

        @media screen and (min-width: 562px) {
            height: 100%;
        }
        
        &.notLink {
            padding: 1em;
            display: inline-block; 
            width: 100%; 
            @media screen and (min-width: 562px) {
                width: auto;
            }
            
            &:hover {
                background-color: rgba(143, 170, 223, 0.918);
            }
        }
    }

    &_link {
        color: inherit;
        text-decoration: none;
        padding: 1em;
        height: 100%;
        display: inline-block;
        transition: background-color 500ms ease-in-out;
        width: 100%;
        @media screen and (min-width: 562px) {
            width: auto;
        }
    }
    
    &_link:hover {
        background-color: rgba(143, 170, 223, 0.918);
    }

}


