.topbar {
    height: 70px;
    width: 100%;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 10px;

    &_logo {
        height: 80%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    &_avatar {
        height: 48px;
        width: 48px;
        
        @media screen and (min-width: 562px) {
            display: none;
        }

        img {
            border-radius: 50%;
            border: 3px solid white;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &.show + .topbar_links {
            max-width: 100%;

            @media screen and (min-width: 562px) {
                max-width: 600px;
            }

        }
    }

    &_links {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: rgba(255,255,255,0.9);
        color: black;
        right: 0;
        top: 4.5em;
        width: 100%;
        height: 100vh;
        max-width: 0px;
        transition: max-width 300ms ease-in-out;
        padding: 0;
        z-index: 3;
        overflow: hidden;


        @media screen and (min-width: 562px) {
            flex-direction: row;
            position: static;
            background-color: transparent;
            color: white;
            max-width: 100%;
            height: 100%;
        }
    }

    &_link {
        cursor: pointer;
        font-size: 1.2em;
        padding: 1em;
        list-style: none;

    }

}


