// COLORS

$primary-color: #FD2D01;
$primary-contrast: #e32801;
$secondary-color: #FFD7D7;
$graylight-color: #f5f5f6;
$graydark-color: #e1e2e1;
$dark-primary: #000063;
$black-color: #333333;
$secondary-color-op: #6fb9b5;
