@import "../../styles-utils/graphiqueColors.scss";
@import "../../styles-utils/mixins.scss";

.home_container {
  display: flex;
  margin: 0 auto;
  background: $graylight-color;
}

.home_sidebar {
  display: none;

  @include mq(small) {
    display: inherit;
    flex: 2.5;
  }
}

.feed_content {
  flex: 5.5;
  margin: 5px;
  background-color: $secondary-color;
  margin-top: 10px;
}
.more_comment_content {
  flex: 2;
}
