@import "../../styles-utils/graphiqueColors.scss";
@import "../../styles-utils/mixins.scss";

.authSignUp {
  width: 95%;
  max-width: 25rem;
  margin: 3rem auto;
  padding: 0;
  text-align: center;
  border-top: 13px solid $primary-color;
  border-radius: 6px;
  background-color: white;
  @include box--shadow;

  h1 {
    padding: 1em;
    text-align: center;
    color: $black-color;
    background-color: $secondary-color;
  }

  form {
    padding: 2em;
  }

  .errMsg {
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    padding: 1em;
  }
  
  &_control {
    margin-bottom: 0.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: $black-color;
    }

    span {
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: 2px solid $secondary-color;
      &:focus-within {
        border: 2px solid $primary-color;
      }
      .passIcon {
        align-self: flex-end;
        color: $black-color;
      }
    }

    input {
      width: 100%;
      padding: 0.25rem;
      font-size: inherit;
      text-align: left;
      outline: none;
      border: none;
      background-color: white;
      color: $black-color;
      border: none;
    }

    &>input {
      border: 2px solid $secondary-color;
    }

    &>input:focus,
    &>input:active {
          border: 2px solid $primary-color;
      }
   
    .instructions {
      font-size: 0.75rem;
      border-radius: 0.5rem;
      color: $primary-color;
      padding: 14px;
      position: relative;
      bottom: -5px;
    }

     .offscreen {
    position: absolute;
    left: -9999px;
  }
  }

  &_check {
    padding: 1em 0 ;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;

    label {
      font-size: 14px;
      padding-left: 1em;
      width: 94%;
      display: inline-block;
      vertical-align: middle;
    }

    input {
      display: inline-block;
      vertical-align: middle;
      height: 21px;
      width: 21px;
    }
  }

  &_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

    &_link {
      width: auto;
      padding: 0.5rem 2.5rem;
      cursor: pointer;
      font-size: 1em;
      color: white;
      background-color: $primary-color;
      transition: background-color 500ms ease-in-out;

      &:disabled,
      &:disabled:hover {
        background-color: $graydark-color;
        color: white;
      }

      &:hover {
        background-color: $secondary-color-op;
      }
    }

    &_toggle {
      width: auto;
      margin-top: 1rem;
      padding: 0.15rem 1.5rem;
      font-size: 1em;
      color: $primary-color;
      border: none;
      background-color: transparent;

      &:hover {
        color: $secondary-color-op;
        background-color: transparent;
      }
    }
  }
}
