@import "../../styles-utils/graphiqueColors.scss";
@import "../../styles-utils/mixins.scss";

.textareaForm {
    width: 100%;

    &_item label {
        display: flex;
        align-items: center;
    }
    &_container {
        width: 100%;
    }

    &_edit {
        background: $secondary-color;
        width: 100%;
        border: none;
        resize: none;
        border-radius: 5px;
        padding: 10px 0.5em;
        margin: 0.5em 0px;
        flex:1;
        margin-right: 0.5em;
    }
    &_noedit {
        background: none;
        width: 100%;
        border: none;
        resize: none;
        border-radius: 5px;
        padding: 10px 0.5em;
        margin: 0.5em 0px;
        flex:1;
        margin-right: 0.5em;
    }
    &_action {
        display: flex;
        flex-direction: column;
    }
    &_item_icon {
        margin-right: 1em;
    }
}

.btn_section {
    display: flex;
    justify-content: right;
}
.btn_cancel {
        margin: 0.5em 0px;
        width: 25px;
        height: 25px;
        background-color: $secondary-color-op;
        color: black;
        margin-right: 1em; 
        padding: 3px;
        border-radius: 50%;
}

.btn_submit {
    border-radius: 50%;
    margin: 0.5em 0px;
    height: 25px;
    width: 25px;
    background-color: $secondary-color-op;
    color: black;
    margin-right: 1em;
    padding: 3px;
}